#
#  Copyright (c) 2017 Joy Diamond.  Licensed under the MIT License.
#
.*.sw*
/audio/
/data/
/fonts/
/Game.rpgproject
/icon/
/img/
/index.html
/js/libs/
/js/main.js
/js/plugins.js
/js/rpg_core.js
/js/rpg_managers.js
/js/rpg_objects.js
/js/rpg_scenes.js
/js/rpg_sprites.js
/js/rpg_windows.js
/original/
/package.json
/save/
[xyz]
